services:
  
  database:
    image: mysql:8
    container_name: mysql_container
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    
    ports:
      - 3307:3306
    
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 10s

  backend:
    image: node:18-alpine
    container_name: backend_container
    command: sh -c "echo DB esta lista!! && sleep 1000"

    depends_on:
      database:
        condition: service_healthy

